<div id="slider" style="position:relative; width:100%;white-space:nowrap;overflow:hidden; text-align: center;">
  <a href="#" id="prev2" class="prev"><img src="/images/btn_next_left.png" alt="이전"></a>
  <div class="slide-wrap">
    <ul id="photo" class="slide-list" style="width: 9990px; padding:0px;height:700px;">
      <li>
        <img src="/images/main_title_0.png" alt="">
      </li>
      <li>
        <img src="/images/main_title_1.png" alt="">
      </li>
      <li>
        <img src="/images/main_title_2.png" alt="">
      </li>
    </ul>
  </div>
  <a href="#" id="next2" class="next"><img src="/images/btn_next_right.png" alt="다음"></a>
</div>

</br>
<div class="ui container list_head" style="position:relative;">
    <h2 class="ui header">List</h2>


<div class="ui three column  grid container">
<a id="prev3" class="prev" onclick="fn_prev();"><img src="/images/next_left.png" alt="이전"></a>
  <div class="column">
    <div class="ui segment" style="padding:0px;">
      <div class="ui card">
        <div class="image">
          <img class="list_img" src="/images/main_0.png">
        </div>
      </div>
    </div>
    <div class="content">
      <span class="header floatLeft list_name" style="font-size:28px; top:5px;position:relative"><a href='/road/#33'>도를 찾아 가출하는 길</a></span>
      <span class="header floatRight"><img class="ui avatar userImg floatRight" src="https://graph.facebook.com/123242/picture"></span>
      <div class="description clearBoth list_info">
        1.8km |  25분 | 판교
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui segment" style="padding:0px;">
      <div class="ui card">
        <div class="image">
          <img class="list_img" src="/images/main_1.png">
        </div>
      </div>
    </div>
    <div class="content">
      <span class="header floatLeft list_name" style="font-size:28px; top:5px;position:relative"><a href='/road/#33'>같이 걸을래?</a></span>
      <span class="header floatRight"><img class="ui avatar userImg floatRight" src="https://graph.facebook.com/123345/picture"></span>
      <div class="description clearBoth list_info">
        5.3km | 1시간 20분 | 천안
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui segment" style="padding:0px;">
      <div class="ui card">
        <div class="image">
          <img class="list_img" src="/images/main_2.png">
        </div>
      </div>
    </div>
    <div class="content">
      <span class="header floatLeft list_name" style="font-size:28px; top:5px;position:relative"><a href='/road/#33'>바람쐬는 길</a></span>
      <span class="header floatRight"><img class="ui avatar userImg floatRight" src="https://graph.facebook.com/12345/picture"></span>
      <div class="description clearBoth list_info">
        1.3km | 50분 | 전주
      </div>
    </div>
  </div>
  <a id="next3" class="next" onclick="fn_next();"><img src="/images/next_right.png" alt="다음"></a>
</div>


<div class="ui vertical stripe segment">
<hr class="list_head">
</br>
    <table style="width:100%; border-collapse: collapse;  border-spacing: 0;">
      <tr>
        <td style="width:50%;border-collapse: collapse;  border-spacing: 0;">
          <h3 class="ui header">걷다.</h3>
          <h3 class="ui header">나만의 길을 걸으며, 그 길을 기록한다.</h3>
          </td>
        <td style="width:50%;border-collapse: collapse;  border-spacing: 0;">
          <img src="/images/main_3.png" style="width:100%; display:block">
        </td>
      </tr>
      <tr>
        <td style="width:50%;">
          <img src="/images/main_1.png" style="width:100%; display:block">
        </td>
        <td style="width:50%; padding-left:10px;">
          <h3 class="ui header">담다.</h3>
          <h3 class="ui header">내가 걷는 이 길 위에, 기억을 담아둔다.</h3>
        </td>
      </tr>
      <tr>
        <td style="width:50%;">
          <h3 class="ui header">잇다.</h3>
          <h3 class="ui header">누군가의 흔적을 따라, 그 길을 걷는다.</h3>
        </td>
        <td style="width:50%;">
          <img src="/images/main_2.png" style="width:100%; display:block">
        </td>
      </tr>

    </table>
  </div>
</div>

<div class="center aligned column" style="background-color:#e48f7a;padding-top:80px; padding-bottom:300px;">
  <div class="ui prebooking">
    <div class="ui" style="color:white;">
    <h2>내가 걷는 길 위에 추억을 남겨 보세요.</h2>
    <p>내가 걷는 길위에 추억을 남기고, 네가 걷던 길을 따라 걷는다.</p>
    <div class="ui right action input">
        <input type="email" placeholder="email을 주소를 등록하세요." style="width:450px;">
        <div class="ui orange button" style="background-color:#fca48e;" onclick="sendEmail();">
          <i class="add icon"></i>
          SUBMIT
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/main.js"></script>
