<div class="ui container" style="padding-top:70px; padding-bottom:70px;">

<div class="ui secondary pointing menu">
  <a class="active item">
    <h2 class="ui header">List</h2>
  </a>
</div>

<div class="ui three column  grid container">

<div class="column">
  <div class="ui segment" style="padding:0px;">
    <div class="ui card">
      <div class="image">
        <img src="http://www.koreabrazil.net/n_comu/data/tmp/cg4LGGHXkNp5.jpg">
      </div>
      <div class="content">
        <a class="header">Kristy
          <span class="right floated">
            <img class="ui avatar image" src="https://graph.facebook.com/12345/picture">
          </span>
        </a>
        <div class="meta">
          <span class="date"></span>
        </div>
        <div class="description">
          총거리 | 총시간 | 지역
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="ui segment" style="padding:0px;">
    <div class="ui card">
      <div class="image">
        <img src="http://www.koreabrazil.net/n_comu/data/tmp/cg4LGGHXkNp5.jpg">
      </div>
      <div class="content">
        <a class="header">Kristy
          <span class="right floated">
            <img class="ui avatar image" src="https://graph.facebook.com/12345/picture">
          </span>
        </a>
        <div class="meta">
          <span class="date"></span>
        </div>
        <div class="description">
          총거리 | 총시간 | 지역
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="ui segment" style="padding:0px;">
    <div class="ui card">
      <div class="image">
        <img src="http://www.koreabrazil.net/n_comu/data/tmp/cg4LGGHXkNp5.jpg">
      </div>
      <div class="content">
        <a class="header">Kristy
          <span class="right floated">
            <img class="ui avatar image" src="https://graph.facebook.com/12345/picture">
          </span>
        </a>
        <div class="meta">
          <span class="date"></span>
        </div>
        <div class="description">
          총거리 | 총시간 | 지역
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="ui segment" style="padding:0px;">
    <div class="ui card">
      <div class="image">
        <img src="http://www.koreabrazil.net/n_comu/data/tmp/cg4LGGHXkNp5.jpg">
      </div>
      <div class="content">
        <a class="header">Kristy
          <span class="right floated">
            <img class="ui avatar image" src="https://graph.facebook.com/12345/picture">
          </span>
        </a>
        <div class="meta">
          <span class="date"></span>
        </div>
        <div class="description">
          총거리 | 총시간 | 지역
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="ui segment" style="padding:0px;">
    <div class="ui card">
      <div class="image">
        <img src="http://www.koreabrazil.net/n_comu/data/tmp/cg4LGGHXkNp5.jpg">
      </div>
      <div class="content">
        <a class="header">Kristy
          <span class="right floated">
            <img class="ui avatar image" src="https://graph.facebook.com/12345/picture">
          </span>
        </a>
        <div class="meta">
          <span class="date"></span>
        </div>
        <div class="description">
          총거리 | 총시간 | 지역
        </div>
      </div>
    </div>
  </div>
</div>



</div>
</div>

<div class="center aligned column" style="background-color:#e48f7a;padding-top:80px; padding-bottom:300px;">
  <div class="ui prebooking">
    <div class="ui" style="color:white;">
    <h2>내가 걷는 길 위에 추억을 남겨 보세요.</h2>
    <p>내가 걷는 길위에 추억을 남기고, 네가 걷던 길을 따라 걷는다.</p>
    <div class="ui right action input">
        <input type="text" placeholder="email을 주소를 등록하세요." style="width:450px;">
        <div class="ui orange button" style="background-color:#fca48e;">
          <i class="add icon"></i>
          SUBMIT
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/assets/road.js" data-turbolinks-track="reload"></script>
