// jh : 부트스트랩 주석
//@import "bootstrap-sprockets";
//@import "bootstrap";

// jh: 최상단가기 버튼 S
.top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #666666;
    background-color: rgba(50,50,50,0.8);
    z-index: 999;
    display: none;
}
.tabpanel{
  padding-top: 10px;
}
// jh: 최상단가기 버튼 E

// jh: 지도관련 S
.map_wrap {width: 100%;position: relative;}
.map {width: 100%;height: 320px;}
// jh: 지도관련 E


// jh: 메뉴 레이아웃 S
.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 400px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 30px;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.ui.card{
  width: auto;
}

// jh: 메뉴 레이아웃 E

// jh: 좌측정렬
.floatLeft{
  float:left;
}

// jh: 우측정렬
.floatRight{
  float:right;
}
.clearBoth{
  clear: both;
}

.imgs { max-width: 100%; height: auto; }

.prebooking{
  margin-top: 15px;
  text-align: center;
}
.padding0{
  padding: 0px;
}

.ui.vertical.stripe {
    padding: 1em 0em;
}

.userImg{
  width: 32px;
  height: 32px;
  border-radius: 500rem;
}
.list_head{
  margin-top: 40px;
}


//타이틀 이미지 롤링

	.slide-wrap {position:relative; width:9990px; height:655px; overflow:hidden; white-space:nowrap;}
	ul.slide-list{ position:absolute; left:0px; }
	ul.slide-list li {position:relative; float:left; width:auto; height:600px;padding-top: 55px;}
  ul.slide-list li > img {height:600px;width: 1678px;}

  a#prev2 {position:absolute; left:30px; top:370px; z-index:1;}
	a#next2 {position:absolute; right:30px; top:370px; z-index:1;}
  a#prev3 {position:absolute; left:-30px; top:150px; z-index:1; border: 3px; cursor:pointer;}
	a#next3 {position:absolute; right:-30px; top:150px; z-index:1; border: 3px;cursor:pointer;}
