
*{
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}
body{
    font-family:"Nanum Gothic", sans-serif;
    margin:0;
    display: block;
}
.contents_first{
    padding-top:90px;
    padding-bottom:35px;
    margin-bottom:10px;
    background-color:#f0af9e;
    color:white;
}
.contents_main{
    display:flex;
    width:100%;
    padding-top:8px;
    padding-top:8px;
}
.first_items{
    flex-grow:1;
}
.first_items:nth-child(2){
    flex-grow:2;
}
.first_items:nth-child(3){
    flex-grow:60;
}
#contents_distance{
    text-align:left;
    margin-top: 4px;
    border-style: solid;
    border-width: 1px;
    border-left: thick;
    border-top: thick;
    border-bottom: thick;
    border-color:#c1c1bd;

}
#contents_time{
    text-align:center;
    padding-left:4px;
    padding-right:4px;
    margin-top: 4px;
    border-style: solid;
    border-width: 1px;
    border-left: thick;
    border-top: thick;
    border-bottom: thick;
    border-color:#c1c1bd;
}
#contents_region{
    text-align:center;
    margin-top: 4px;
    padding-left:4px;

}

#contents_icon img{
    margin-left: auto;
	margin-right: auto;
	display: block;
	line-height:20px;
}
p{
    padding-top:7px;
}

.map_image{
    display:flex;
    width:100%;
    height:400px;
    padding-top:10px;
}
.second_items{
    text-align:center;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    padding-right:20px;
}
.second_items:nth-child(1){
    flex-grow:1;
}
.second_items_items{
    flex-grow:1;
}
.second_items_items:nth-child(1){
    flex-grow:10;
}
img .second_items_items{
    height:345.45px;
}
.button_in_image{
    position:relative;
    top:5px;
    left:100px;
    z-index: 4;
}
.contents_second{
    /*background-color:#f7ead9;*/
    height:100%;
}
.second_distance{
    margin-top:20px;
    font-size:25px;
    position:relative;
    left:40px;
    top:-63px;
}
article{
    padding-right:7px;
}

.first_items #contents_title {
    text-align:left;
}
#first_image{
    padding-right:7px;
}
.first_items_items{
    display:flex;
}
.first_items_items_items{
    flex-grow:1;
    text-align:left;
}
.first_items_items_items:nth-child(4){
    flex-grow:7;
}

.spot_info{
    padding-top:35px;
    padding-bottom:0px;
    height:50px;
}
.ui .avatar .image{
    margin-bottom:18px;
}

.slide_image{
    height:230px;
}
.icon_map{
    margin-bottom:-3px;
    position:relative;
}
.spot_number{
    position:relative;
    left:12px;
    top:-40px;
    color:white;
    font-size:20px;
}
