<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <meta property="og:url"           content="http://www.gilwe.com/road?33" />
   <meta property="og:type"          content="website" />
   <meta property="og:title"         content="도를 찾아 가출하는 길" />
   <meta property="og:description"   content="모두가 함께 걸어 즐거운 서비스 길위!!" />
   <meta property="og:image"         content="/images/ff.png" />

  <!-- Site Properties -->
  <title>길위</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=c90f108003e4d1ad38bb48d42174c722&libraries=drawing"></script>
    <script src="scripts/map.js" data-turbolinks-track="reload"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
</head>
<body>


<div class="pusher">
  <div class="ui borderless main menu fixed" style="position: fixed; top: 0px; left: auto; z-index: 10;padding-top:50px;">
    <div class="ui text">
      <div class="header item">
        <img class="" src="/images/gilwe_icon.png" style="width:32px; height:32px;">
        <h2 style="margin:0px;">&nbsp;길위&nbsp;</h2> &nbsp;<p style="font-size:12px;">&nbsp;&nbsp; 길위에서 글을 읽다.</p>
      </div>
      </a>
    </div>
  </div>

  <!--
<div class="ui inverted vertical center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="active item">        길위 (길을 담다 main)</a>
      <div class="right item">

        <!-- facebook Loginver1 S-->
          <!-- <% if current_user %>
            <span>
              <div class="ui horizontal list">
                <div class="item">
                  <img class="ui avatar image" src="https://graph.facebook.com/<%= current_user.uid %>/picture">
                  <div class="content">
                    <div class="ui sub header orange">일반 사용자</div>
                      <%= current_user.name %>
                  </div>
                </div>
              </div>
            </span>
            <%= link_to "Logout", signout_path, id: "sign_out", class: "ui inverted orange basic button"%>
          <% else %>
          <a href="/auth/facebook"><button class="ui facebook button"><i class="facebook icon"></i>Facebook</button></a>
          <% end %> -->
        <!--
      </div>
    </div>
  </div>
</div> -->


      <%= yield %>
      </div>

      <button class="ui circular orange plus icon button top">
        <i class="arrow up icon"></i>
      </button>

      <!-- <script>
        $(document).ready(function() {
          // jh: 헤더 메뉴
          $('.masthead').visibility({
              once: false,
              onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
              },
              onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
              }
            });

          // create sidebar and attach to menu open
          $('.ui.sidebar').sidebar('attach events', '.toc.item');
        });
      </script>
      <div id="fb-root"></div> -->

</body>
</html>
